<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">

</head>
<body>
	<header>
		
	</header>
	
	<div id = "mainTitle">
		 {% block content %}{% endblock %}
	</div>

	<div class = "container">
		<button id = "scriptBtn">{%block btnText%} {%endblock%}</button>
	</div>

	<div id = "taskStatus"> 
		{% block taskStatus %}{% endblock %}
	</div>

	<div id = "output">
		{% block output %}{% endblock %}
	</div>

	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>