<!DOCTYPE html>
<html>
<head>
	<title>Automation Tool</title>
	<link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<header>
	
</header>

<div id = "mainTitle">
<h1>Your All Automation Tools at one Place!</h1>
<h3> Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! Merge, split, compress, convert, rotate, unlock and watermark PDFs with just a few clicks.</h3>
</div>


<div id = "automationTasksContainer">

<div class = "automationTasks">Downloads folder organizer
	<a href="/automation/downloads_Organizer">
	<button class = "homeBtns">Click</button>
	</a>
</div>
<div class = "automationTasks">Disk usage checker
	<button class = "homeBtns">Click</button>
</div>
<div class = "automationTasks">Auto-backup important folders
	<button class = "homeBtns">Click</button>
</div>
<div class = "automationTasks">Backup script
	<button class = "homeBtns">Click</button>
</div>
<div class = "automationTasks">Old files cleaner
	<button class = "homeBtns">Click</button>
</div>

</div>


<script src="static/js/main.js"></script>

</body>
</html>