<!DOCTYPE html>
<html>
<head>
	<title>Automation Tool</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
	
</header>

<div id = "mainTitle">
<h1>Your All Automation Tools at one Place!</h1>
<h3> Precision automation that organizes your digital chaos into perfect order.</h3>
</div>


<div id = "automationTasksContainer">

<div class = "automationTasks">
	<h3 class = "automationTask">Downloads folder organizer</h3>
	<a href="/automation/downloads_Organizer">
	<button class = "homeBtns">Click</button>
	</a>
</div>
<div class = "automationTasks">
	<h3 class = "automationTask">Disk usage checker</h3>
	<button class = "homeBtns">Click</button>
</div>
<div class = "automationTasks">
	<h3 class = "automationTask">Auto-backup important folders</h3>
	<button class = "homeBtns">Click</button>
</div>
<div class = "automationTasks">
	<h3 class = "automationTask">Backup script</h3>
	<button class = "homeBtns">Click</button>
</div>
<div class = "automationTasks">
	<h3 class = "automationTask">Old files cleaner</h3>
	<button class = "homeBtns">Click</button>
</div>
<div class = "automationTasks">
	<h3 class = "automationTask">Old files cleaner</h3>
	<button class = "homeBtns">Click</button>
</div>

</div>


</body>
</html>