* {
  box-sizing: border-box; /* Highly recommended for all projects */
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #221d1d;
    color : white;
}
#mainTitle{
	text-align: center;
	font-weight: 600;
	font-family: Graphik,Arial,sans-serif;
    margin: 0px 1rem;
}
.container{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
#scriptBtn{
	display: inline;
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: #1f89d5;
    color: white;
    border: 2px solid white;
    margin-bottom: 3rem;
}
.taskStatus{  
    border: 2px solid #ff0000;
    width: 12rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin: 0px auto;
    text-align: center;
    padding-top: 0.3rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.progress-container{
    width: 30%;
    background-color: #e0e0e0;
    border-radius: 20px;
    margin: 15px 0;
    height: 12px;
    overflow: hidden;
    margin: 0 auto;
}
.progress-bar{
    height: 100%;
    background: linear-gradient(90deg, #9f2f44 0%, #ffb308 100%);
    width: 0%;
    border-radius: 20px;
    transition: width 0.4s ease-in-out; 
}
.outputStyle{
    border: 2px solid #723d0e;
    margin: 0 auto;
    margin-top: 3rem;
    width: 26rem;
    border-radius: 1rem;
    padding: 2rem;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.textStyles{
    list-style-type: none;
    padding: 0rem;
}
